<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html::head">

</head>
<body>
    <nav th:replace="fragments.html :: main-nav"></nav>

    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 bg-purple rounded shadow-sm" style="justify-content: space-between">
            <div class="lh-200">
                <h3 class="mb-0 lh-200" th:text="${post.title}">Bootstrap</h3>
                <small th:text="${#temporals.format(post.modifiedDate,'yyyy-MM-dd HH:mm')}">localdate</small>
            </div>

            <div class="lh-200" th:if="${post.isWriter(#authentication.principal)}">

                <div class="form-group mb-0">
                    <a th:href="@{'/posts/'+${post.getId()}+'/update'}"><button name="update" class="btn btn-outline-primary" type="submit">수정</button></a>
                </div>

                <form class="form-inline" th:if="${post.isWriter(#authentication.principal)}" action="#" th:action="@{'/posts/' + ${post.getId()} + '/delete'}" method="post" novalidate>
                    <div class="form-group">
                        <button name="delete" class="btn btn-outline-danger" type="submit">삭제</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex align-items-center p-3 my-3 bg-purple rounded shadow-sm">
            <div class="lh-100">
                <svg th:if="${#strings.isEmpty(post.account?.profileImage)}" data-jdenticon-value="user111" th:data-jdenticon-value="${post.account.email}"
                     width="32" height="32" class="rounded boarder bg-light"></svg>
                <img th:if="${!#strings.isEmpty(post.account?.profileImage)}" th:src="${post.account.profileImage}"
                     width="32" height="32" class="rounded boarder bg-light">
                <span class="lh-100 h6 mb-0" th:text="${post.account.nickname}"></span>
            </div>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm" th:utext="${post.description}">

        </div>

        <div id="comments" th:fragment="comments" class="my-3 p-3 bg-white rounded shadow-sm">

            <h6 class="border-bottom border-gray pb-2 mb-0"><strong>코멘트</strong></h6>

            <div class="media text-muted pt-3" th:each="reply: ${post.replies}">

                <svg class="bd-placeholder-img mr-2 rounded" th:if="${#strings.isEmpty(reply.account?.profileImage)}" data-jdenticon-value="user111" th:data-jdenticon-value="${reply.account.email}"
                     width="32" height="32"></svg>
                <img th:if="${!#strings.isEmpty(reply.account?.profileImage)}" th:src="${reply.account.profileImage}"
                     width="32" height="32" class="bd-placeholder-img mr-2 rounded">

                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark" th:text="${reply.account.nickname}">Full Name</strong>
                        <span>
                            <a th:href="@{'/post/'+ ${post.getId()}+'/reply/'+${reply.getId()}+'/update'}" th:if="${reply.isWriter(#authentication.principal)}">수정</a>
                            <a href="#" th:if="${reply.isWriter(#authentication.principal)}">삭제</a>
                        </span>
                    </div>
                    <span th:text="${#temporals.format(reply.modifiedDate,'yyyy-MM-dd HH:mm')}">@username</span>
                    <div class="mt-1 text-dark"  th:utext="${reply.description}">
                    </div>
                </div>
            </div>


            <small class="d-block text-right mt-3">
                <a href="#">All suggestions</a>
            </small>

            <div class="needs-validation col-sm-10">
                <div class="form-group">
                    <label for="replyDescription">코멘트 작성</label>
                    <textarea id="replyDescription" class="editor form-control" placeholder="본문을 작성해주세요"
                              aria-describedby="replyDescriptionHelp" required minlength="2"></textarea>
                    <small id="replyDescriptionHelp" class="form-text text-muted">
                        매너를 지켜 작성해주세요.
                    </small>
                    <small class="invalid-feedback">2글자 이상이 와야합니다.</small>
                </div>

                <div class="form-group">
                    <button id="replySave" class="btn btn-primary btn-block" type="button">코멘트 달기</button>
                </div>
            </div>
        </div>
    </main>
    <script th:replace="fragments.html :: form-validation"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script th:fragment="summerNote" type="application/javascript">
        $(function(){
            $('.editor').summernote({
                placeholder: '공백만 있는 글은 허용되지 않습니다.',
                tabSize: 2,
                height: 100
            });
        })
    </script>
    <script type="application/javascript" th:inline="javascript">
        $(function() {
            var csrfToken = /*[[${_csrf.token}]]*/ null;
            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });
    </script>
    <script>
        let index = {
            init: function () {
                $("#replySave").on("click", () => {
                    this.replySave();
                });
            },

            replySave: function () {
                let comment = document.querySelector("#comments");
                let postId = [[${post.id}]];
                let data = {
                    description: $("#replyDescription").val()
                };

                $.ajax({
                    dataType: "json",
                    contentType: "application/json; charset=utf8",
                    method: "POST",
                    autocomplete: {
                        enabled: true,
                        rightKey: true
                    },
                    url: "/posts/" + String(postId) + "/reply",
                    data: JSON.stringify(data),
                }).done(function (response) {
                    console.log("OK");
                     ``
                });
            }
        }
        index.init();
    </script>

</body>
</html>